requests
tiktoken  

tk

pyaudio
numpy
soundfile
pydub
openai-whisper


edge-tts

discord.py

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

irc

python-dotenv
aiohttp
datetime
regex
matplotlib
yt_dlp
python-vlc
spotipy
